/* ---------------------------------- utils --------------------------------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------------------------- base ---------------------------------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #141414;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/* ------------------------------- components ------------------------------- */
.container {
  width: 1300px;
  padding: 0 68px;
}

/* --------------------------------- layouts -------------------------------- */
.header .container {
  background-color: #0c0c0c;
  position: relative;
}

.header-logo-container {
  width: 326px;
  height: 136px;
  background-color: #99823d;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.header-logo-icon {
  fill: #ffffff;
}

.header-wrap {
  display: flex;
  justify-content: flex-end;
}

.header-list {
  display: flex;
  gap: 37px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-right: 68px;
}

.header-link {
  font-size: 11px;
  line-height: 3.09;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero .container {
  background-color: #0c0c0c;
  position: relative;
}

.hero-bg-wrap {
  background-color: #0c0c0c;
  width: 976px;
  height: 591px;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  border: transparent;
}

.hero-soc-list {
  display: flex;
  gap: 37px;
  background-color: #fff;
}

.hero-link {
  font-size: 12px;
  line-height: 5.67;
  letter-spacing: 2.975px;
  text-transform: uppercase;
  color: #000000;
}

.hero-wrap {
  width: 584px;
  height: 455px;
  background-color: #ffffff;
  position: absolute;
  top: 68px;
  right: 136px;
  padding: 68px;
  z-index: 1;
}

.hero-text {
  font-size: 11px;
  line-height: 1.51;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: #99823d;
  margin-bottom: 2px;
}

.hero-title {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 67px;
  line-height: 1;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.hero-desk {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.hero-btn-list {
  display: flex;
  gap: 17px;
}

.hero-btn {
  font-size: 12px;
  line-height: 1.49;
  text-align: center;
  letter-spacing: 2.975px;
  text-transform: uppercase;
  width: 216px;
  height: 68px;
  color: #ffffff;
  background-color: #99823d;
  border: transparent;
}

.accent-btn {
  background-color: #000000;
}

.hero-square {
  width: 489px;
  height: 329px;
  background-color: #99823d;
  right: 68px;
  position: absolute;
  bottom: 0;
}

.about {
  padding-top: 136px;
}

.about-wrap {
  display: flex;
  margin-bottom: 68px;
}

.about-container {
  padding-left: 68px;
  padding-right: 68px;
}

.about-text {
  font-size: 11px;
  line-height: 1.51;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: #99823d;
  margin-bottom: 5px;
}

.about-title {
  font-weight: 400;
  font-size: 53px;
  line-height: 1;
  font-family: "Teko";
  text-transform: capitalize;
  max-width: 688px;
  margin-bottom: 28px;
}

.about-desk {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  max-width: 684px;
  margin-bottom: 16px;
}
.about-desk:last-child {
  margin-bottom: 0;
}

.about-square {
  width: 424px;
  height: 320px;
  background-color: #99823d;
}

.about-list {
  display: flex;
  justify-content: space-between;
  padding-left: 71px;
}

.about-item {
  position: relative;
}
.about-item:last-child ::after {
  display: none;
}

.list-wrap {
  width: 100%;
}
.list-wrap::after {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  background: #99823d;
  top: 50%;
  left: 175%;
}

.list-number {
  font-weight: 700;
  font-size: 49px;
  line-height: 1;
  font-family: "Teko";
  text-align: center;
}

.list-desk {
  font-size: 12px;
  line-height: 1.49;
  text-align: center;
  letter-spacing: 2.975px;
  text-transform: uppercase;
  color: #99823d;
}

.novelty {
  padding-top: 136px;
}

.novelty-list {
  display: flex;
  gap: 34px;
}

.novelty-holder {
  position: relative;
}

.new {
  position: absolute;
  top: 0;
  display: block;
  font-size: 11px;
  line-height: 1.48;
  letter-spacing: 2.72px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 9px 35px;
  background-color: #141414;
  width: 105px;
}

.novelty-type {
  position: absolute;
  bottom: 0;
  display: block;
  right: 0;
  font-size: 11px;
  line-height: 3.09;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 33px 33px;
  text-align: center;
  height: 102px;
  width: 206px;
  background-color: #99823d;
}

.novelty-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  background-color: #141414;
  font-family: "Teko";
  font-size: 26px;
  line-height: 1;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 15px 92px 26px;
}/*# sourceMappingURL=main.css.map */