.footer {
  .container {
    background-color: $bgColor;
    padding-top: 66px;
    position: relative;
  }
}
.footer-wrap {
  background-color: $greyColor;
  width: 1164px;
  padding: 68px 68px 35px;
  padding-left: 68px;
  padding-right: 68px;
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  fill: $whiteColor;
}
.footer-list {
  display: flex;
  gap: 37px;
}
.footer-link {
  @include text-base(null, 11px, 3.09);
  text-align: center;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: $whiteColor;
  transition: color $transition;
  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.footer-form-container {
  width: 1025px;
  height: 204px;
  padding: 68px;
  background-color: $accentColor;
  position: absolute;
  top: 169px;
  right: 140px;
}
.subscribe-form {
  display: flex;
  gap: 17px;
}
.subscribe-input {
  width: 800px;
  height: 68px;
  padding-left: 30px;
  border: transparent;
  &::placeholder {
    @include text-base(700, 11px, 3.09);
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: $greyColor;
  }
}
.subscribe-btn {
  @include text-base(700, 11px, 3.09);
  text-align: center;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: $whiteColor;
  background-color: $blackColor;
  padding: 16px 37px;
  border: transparent;
}
.footer-bottom-container {
  background-color: $mainColor;
  height: 220px;
  width: 1300px;
}
.footer-dev-list {
  display: flex;
  gap: 36px;
  padding-top: 175px;
  padding-left: 136px;
}
.dev-link {
  @include text-base(null, 11px, 3.09);
  text-align: center;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: $whiteColor;
  transition: color $transition;
  &:hover,
  &:focus {
    color: $accentColor;
  }
}
