.header {
  .container {
    background-color: $mainColor;
    position: relative;
  }
}
.header-logo-container {
  width: 326px;
  height: 136px;
  background-color: $accentColor;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.header-logo-icon {
  fill: $whiteColor;
}
.header-wrap {
  display: flex;
  justify-content: flex-end;
}
.header-list {
  display: flex;
  gap: 37px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-right: 68px;
}
.header-link {
  @include text-base(null, 11px, 3.09);
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: $whiteColor;
}
