.header {
  background-color: $mainColor;
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    @include tablet {
      display: block;
    }
  }
}
.header-logo-container {
  width: 150px;
  height: 60px;
  background-color: $accentColor;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  @include tablet {
    width: 160px;
    height: 80px;
  }
  @include desktop {
    width: 326px;
    height: 136px;
  }
}
.header-logo-icon {
  width: 100px;
  height: 29px;
  fill: $whiteColor;
  @include tablet {
    width: 120px;
    height: 32px;
  }
  @include desktop {
    width: 190px;
    height: 49px;
  }
}
.header__btn {
  margin-left: auto;
  border: transparent;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  @include tablet {
    display: none;
  }
}
// мобільне меню
.header__menu__mobile {
  position: fixed;
  z-index: 2;
  background-color: $whiteColor;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include tablet {
    display: none;
  }
}
.menu__close {
  position: absolute;
  border: transparent;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px 10px;
  top: 5px;
  right: 10px;
  display: flex;
  align-items: center;
}
.menu__close__icon {
  transition: fill $transition;
  .menu__close:hover &,
  .menu__close:focus & {
    fill: $accentColor;
  }
}
.js-menu-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  &::before {
    content: ' ';
    position: absolute;
    height: 3px;
    width: 210px;
    background: $accentColor;
    bottom: 238px;
    border-radius: 5px;
    left: 40px;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
  }
}

.header-menu-link-nav {
  padding: 15px 0;
  @include text-base(null, 15px, 3.09);
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: $mainColor;
  transition: color $transition;
  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.menu__social__container {
  margin-top: 80px;
}
.menu__mobile__item {
  position: relative;
  &::before {
    content: ' ';
    position: absolute;
    height: 6px;
    width: 6px;
    background: $accentColor;
    bottom: 42%;
    left: -20px;
  }
}
.menu__mobile__social {
  @include text-base(null, 12px, 3.09);
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: $mainColor;
  transition: color $transition;
  padding: 15px 0;
  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.js-open-menu {
  border: transparent;
  background-color: transparent;
  align-items: center;
  display: flex;
  @include tablet {
    display: none;
  }
}
.header-menu-icon {
  fill: $whiteColor;
}
/* -------------------------------------------------------------------------- */
.header-wrap {
  @include tablet {
    display: flex;
    justify-content: flex-end;
  }
}
.header-list {
  display: none;
  @include tablet {
    display: flex;
    gap: 37px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @include desktop {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
.header-link {
  @include tablet {
    @include text-base(null, 11px, 3.09);
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: $whiteColor;
    transition: color $transition;
    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}
