.novelty {
  padding-top: 76px;
  padding-bottom: 76px;
  @include desktop {
    padding-top: 136px;
    padding-bottom: 136px;
  }
}
.novelty-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include desktop {
    gap: 34px;
    flex-wrap: nowrap;
  }
}
.novelty-holder {
  position: relative;
  width: 290px;
  margin-left: 15px;
  @include mobile {
    width: 365px;
  }
  @include tablet {
    width: 314px;
  }
  @include desktop {
    width: 365px;
  }
}
.new {
  position: absolute;
  top: 0;
  display: block;
  @include text-base(null, 11px, 1.48);
  letter-spacing: 2.72px;
  text-transform: uppercase;
  color: $whiteColor;
  padding: 9px 35px;
  background-color: $titleColor;
  width: 105px;
}
.novelty-type {
  position: absolute;
  bottom: 0;
  display: block;
  right: 0;
  @include text-base(null, 11px, 3.09);
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: $whiteColor;
  padding: 0 33px 33px;
  text-align: center;
  height: 87px;
  width: 206px;
  background-color: $accentColor;
  @include desktop {
    @include text-base(null, 11px, 3.09);
    height: 87px;
    width: 206px;
    padding: 0 33px 33px;
  }
}
.novelty-name {
  position: absolute;
  bottom: 0;
  width: calc(100% - 34px);
  display: block;
  background-color: $titleColor;
  font-family: 'Teko';
  @include text-base(null, 25px, 1);
  text-align: center;
  text-transform: capitalize;
  color: $whiteColor;
  padding: 15px 52px 15px;
}
