.projects {
  background-color: $bgColor;
  padding-top: 68px;
  @include desktop {
    padding-bottom: 68px;
  }
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  @include mobile {
    gap: 40px;
  }
  @include tablet {
    gap: 20px;
  }
}
.project-item {
  &:last-child {
    ::after {
      display: none;
    }
  }
}
.projects-wrap {
  position: relative;
  width: 100%;
  @include desktop {
    &::after {
      content: '';
      position: absolute;
      height: 9px;
      width: 9px;
      background: $accentColor;
      bottom: 50%;
      right: -30%;
    }
  }
}
.project-icon {
  width: 120px;
  transition: fill $transition;
  .projects-link:hover &,
  .projects-link:focus & {
    fill: $accentColor;
  }
  @include desktop {
    width: 148px;
  }
}
